.App {
  /* text-align: center; */
  margin: 20px;
  height: 100vh;
}

.App-logo {
  pointer-events: none;
  width: 280px;
  height: 280px;
}

.App-logo3 {
  pointer-events: none;
  width: 360px;
  height: 240px;
  margin-left: -30px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content{
  width: 100%;
}

#dropdown{
  min-width: 100px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.footer{
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.next-button {
    background-color:#0074D9;
    border-radius: 0px !important;
    font-family: "IBMPlexSans-Regular" !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: white;
    letter-spacing: 0.75px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.prev-button {
  background-color: white;
  border: none;
  cursor: pointer;
  float: left;
}

.textarea{
  width: 75%;
  max-width: 300px !important;
}

.dropdown{
  width: 150px;
  left: 25%;
  position: relative;
}